# Dependencies
/backend/vendor/
/frontend/node_modules/

# Environment files
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local

# Symfony
/backend/var/
/backend/public/bundles/
/backend/config/secrets/prod/prod.decrypt.private.php

# PHPUnit
/backend/phpunit.xml
/backend/.phpunit.cache/

# Frontend build
/frontend/build/
/frontend/.react-router/

# IDE
.vscode/